-
  var socialList = [
    {
      "id": "0",
      "name": "Twitter",
      "icon": "fa-twitter",
      "url": "#"
    },
    {
      "id": "1",
      "name": "Facebook",
      "icon": "fa-facebook",
      "url": "#"
    },
    {
      "id": "2",
      "name": "Git Hub",
      "icon": "fa-github",
      "url": "#"
    },
    {
      "id": "3",
      "name": "Dribbble",
      "icon": "fa-dribbble",
      "url": "#"
    },
  ]
