$social-icon-color:            darken($link-color, 20%);
$social-icon-color--hover:     $gray-light;

$social-icon-size:             2em;

.social-icons {
  text-align: center;
  margin: 1em 0;
  cursor: default;
  
  .social-item {
    display: inline-block;
    width: $social-icon-size;
    height: $social-icon-size;
    
    .social-link{
      font-family: $font-family--icons;
      font-size: ($social-icon-size * 0.75);
      color: $social-icon-color;
      &:hover {
        color: $social-icon-color--hover;
      }
      .lable {
        display: none;
      }
    }
  }
}