mixin copyright()
  ul.copyright
    li © Untitled. All rights reserved.
    li Design: #[a.link(href='#') HTML5 UP]
    li Demo Images: #[a.link(href='#') Felicia Simion] + #[a.link(href='#') Unsplash]