-
  var chart = [
    {
      "id": "0",
      "name": "Ipsum Feugiat",
      "url": "img/pic02.jpg"
    },
    {
      "id": "1",
      "name": "Rhoncus Semper",
      "url": "img/pic03.jpg"
    },
    {
      "id": "2",
      "name": "Magna Nullam",
      "url": "img/pic04.jpg"
    },
    {
      "id": "3",
      "name": "Natoque Vitae",
      "url": "img/pic05.jpg"
    },
    {
      "id": "4",
      "name": "Dolor Penatibus",
      "url": "img/pic06.jpg"
    },
    {
      "id": "5",
      "name": "Orci Convallis",
      "url": "img/pic07.jpg"
    },
  ];
