$btn-padding-vertical:      1rem;
$btn-padding-horizontal:    3rem;
$btn-border-radius:         0.5rem;

$btn-bg-color:              $turquoise-light;

.btn {
  font-family: inherit;
  font-weight: inherit;
  font-size: 1.2em;
  line-height: 1.5em;
  -webkit-tap-highlight-color: transparent;

  @include for-size(phone) {
    font-size: 0.9em;
  }

  display: inline-block;
  width: auto;
  outline: 0;
  padding: $btn-padding-vertical $btn-padding-horizontal;
  border-radius: $btn-border-radius;
  color: $white;
  border: none;
  cursor: pointer;

  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0));

  background-color: $btn-bg-color;

  &:hover {
    background-color: lighten($btn-bg-color, 10%);
  }
  &:active {
    background-color: $btn-bg-color;
  }
  transition: background-color 0.35s ease-in-out;
}