mixin container(title)
  .container
    if (title)
      .header
        h2= title
      block
    else
      block

mixin section(id, sectionTitle, bgUrl)
  if (typeof(bgUrl) !== 'undefined' && bgUrl)
    .section(id=id, style=`background-image: url('${bgUrl}')`)&attributes(attributes)
      +container(sectionTitle)
        block
  else
    .section(id=id)&attributes(attributes)
      +container(sectionTitle)
        block
