//- Внимание! Файл создан автоматически. Любые изменения этого файла будут потеряны при следующей компиляции.
include ../blocks/aside/aside.pug
include ../blocks/btn/btn.pug
include ../blocks/burger/burger.pug
include ../blocks/copyright/copyright.pug
include ../blocks/form/form.pug
include ../blocks/gallery/gallery.pug
include ../blocks/logo/logo.pug
include ../blocks/menu/menu.pug
include ../blocks/off-canvas/off-canvas.pug
include ../blocks/scroll-link/scroll-link.pug
include ../blocks/section/section.pug
include ../blocks/social/social.pug
