.logo {
  display: block;
  text-align: right;
  margin: 1.75rem 1.5rem 1.5rem 1.5rem;

  h1 {
    font-size: $font-size-h1;
    line-height: ($line-height / 2);
    font-weight: 600;
  }
  p {
    font-size: 0.8em;
    line-height: ($line-height / 2);
    margin-top: 0.5rem;

    @include for-size(tablet-landscape) {
      font-size: 0.75em;
    }
  }
  .header {
    color: white;
  }
  .avatar {
    float: left;
    width: 48px;
    height: 48px;

    @include for-size(tablet-landscape) {
      display: inline-block;
      float: none;
      margin-bottom: 0.5rem;
    }
  }
}