$aside-width:           275px !default;
$aside-width--wide:     ($aside-width + 25px);
$aside-width--adapt:    20%;

.aside {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  position: fixed;
  overflow-y: auto;
  background-color: $bg-color--aside;
  height: 100%;
  width: $aside-width;

  @include for-size(desktop) {
    width: $aside-width--wide;
  }
  @include for-size(tablet-landscape) {
    width: $aside-width--adapt;
  }
}
.page-footer, .page-content {
  margin-left: $aside-width;
  
  @include for-size(desktop) {
    margin-left: $aside-width--wide;
  }
  @include for-size(tablet-landscape) {
    margin-left: $aside-width--adapt;
  }
  @include for-size(tablet) {
    margin-left: 0;
  }
}