$menu-item-color:             $link-color;

$menu-icon-color:             darken($link-color, 20%);
$menu-icon-color--active:     $link-color--hover;

$menu-item-dg-color--hover:   darken($bg-color--aside, 3%);

.menu {
  display: block;
  flex-grow: 1;

  .menu-item {
    text-align: right;

    > * {
      display: block;
      color: $menu-item-color;
      padding: 0.9rem 1.5rem;
    }
    > :before {
      font-family: $font-family--icons;
      font-size: 1.25em;
      line-height: 1.8;
      color: $menu-icon-color;
      float: left;

      @include for-size(tablet-landscape) {
        width: 1.25em;
        padding-left: 0.5rem;
        float: right;
      }
    }
    &.active {
      background-color: $menu-item-dg-color--hover;
      > :before {
        color: $link-color--hover;
      }
    }
  }
}
