-
  var menuList = [
    {
      "id": "0",
      "name": "Intro",
      "icon": "fa-home",
      "url": "#top"
    },
    {
      "id": "1",
      "name": "Portfolio",
      "icon": "fa-th",
      "url": "#portfolio"
    },
    {
      "id": "2",
      "name": "About Me",
      "icon": "fa-user",
      "url": "#about"
    },
    {
      "id": "3",
      "name": "Contact",
      "icon": "fa-envelope",
      "url": "#contacts"
    },
  ]