$burger-height:                20px;
$burger-width:                 ($burger-height * 1.2);

$burger-color:                 $white;
$burger-bg-color:              rgba(0, 0, 0, 0.3);

$burger-border-radius:         4px;
$inner-border-radius:          1px;

$burger-transition-time:       0.3s;

.burger {
  -webkit-tap-highlight-color: transparent;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 3;
  background: $burger-bg-color;
  border-radius: $burger-border-radius;
  outline: 0;
  opacity: 0;
  visibility: hidden;
  user-select: none;
  cursor: pointer;

  @include for-size(tablet) {
    opacity: 1;
    visibility: visible;
  }
  .burger-box {
    display: block;
    position: relative;
    width: $burger-width;
    height: $burger-height;
    @if $burger-bg-color == none {
      padding: 0;
    } @else {
      padding: ($burger-height / 2);
    }

    .burger-inner {
      display: block;
      position: relative;
      width: 100%;
      height: ($burger-height / 5);
      top: 50%;
      margin-top: ($burger-height * -0.1);
      background: $burger-color;
      border-radius: $inner-border-radius;
      
      &:before,
      &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        height: ($burger-height / 5);
        background: $burger-color;
        border-radius: $inner-border-radius;
      }
      &:before {
        top: (($burger-height / 2.5) * -1);
        transition: top $burger-transition-time linear;
      }
      
      &:after {
        top: ($burger-height / 2.5);
        transition: top $burger-transition-time linear;
      }
    }
  }
  &.active {
    .burger-inner {
      background: transparent;

      &:before,
      &:after {
        top: 0;
        transition: transform $burger-transition-time linear;
      }

      &:before {
        transform: rotate3d(0, 0, 1, 45deg);
      }

      &:after {
        transform: rotate3d(0, 0, 1, -45deg);
      }
    }
  }
}