// Базовые цвета
$black:                 hsl(0, 0%, 0%);
$gray-dark:             hsl(0, 0%, 15%);
$gray:                  hsl(0, 0%, 50%);
$gray-light:            hsl(0, 0%, 85%);
$white:                 hsl(0, 0%, 100%);

$pink-light:            hsl(350, 80%, 70%);
$turquoise-light:       hsl(180, 30%, 60%);

// Семантические цвета

// Базовая типографика
